@import '/public/assets/scss/variables';

// mixins
@mixin center() {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin clear() {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin v-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin h-align($position: relative) {
    left: 50%;
    position: $position;
    transform: translateX(-50%);
}

aside {
    padding: 5px;
    background-color: $lightskyblue;
    display: inline-block;
    height: 100vh;
    width: 280px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.141);
    transition: all $transition ease;

    header {
        padding: 10px 15px;
        justify-content: space-between;

        img,
        p {
            
            display: inline-block;
        }
        img{
            width: 40px;
        }

        p {
            font-size: 13px;
            color: $blue;
            text-transform: uppercase;
            margin: 0;
        }
        div{
            i{
                color: $blue;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .profile-picture {
        height: 55px;
        width: 55px;
    }
}

.side-navigation {
    font-size: 14px;

    a {
        color: $blue;
        display: block;
        padding: 15px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

    i.fa {
        color: $blue;
        font-size: 20px;
        margin-right: 20px;
    }

    li {
        border-radius: 4px !important;
        margin-bottom: 7px;
        overflow: hidden;
        a{
            transition: all $transition linear;
        }
        &.active,
        &:hover {
            a {
                background-color: $blue;
                color: $whitesmoke;
            }

            i{
                color: $whitesmoke;
            }
        }
    }
}


.dash-hide{
    width: 60px;
    header{
        justify-content: center;
        img{
            display: none !important;
        }
    }
    .side-navigation{
        li{
            a{  
                padding: 10px 15px;
                span{
                    display: none;
                }
            }
        }
    }
}

.content-area{
    height: 100vh;
    width: 100%;
    position: relative;

    .dash-navbar{
        background-color: $blue;
        padding: 10px 20px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 15;

        .search-bar{

            input[type=search]{
                border: none;
                padding: 6px 10px;
                width: 40%;
                border-radius: 4px !important;
    
                &:focus{
                    outline: none;
                    border: 1px solid $blue-dark !important;
                }
            }

            .user-details{
                .user-img{
                    width: 35px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    outline: 1.5px solid $white;
                    outline-offset: 3px;
                }
                .user-name{
                    color: $white;
                }
            }
        }
    }

    main {
        // padding: 20px;
        padding-top: 60px;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }
}

.card-wrapper{
    padding: 50px 4px 20px 15px;
	// display: flex;
	// align-items: center;
	// justify-content: space-evenly;
	flex-wrap: wrap;
	background: whitesmoke;
}