$whitesmoke : #FAFAFA;
$lightskyblue : #E8F1F5;
$blue : #005691;
$blue-dark: #004A7C;
$black : #000000;
$white : #ffffff;
$transition: 0.4s;
$danger : #ff0000c6;
$success : #008000a9;
$grey : #9aabb3;

$border-color : #dee2e6;


// box Shadow Effects

$boxShadow : 2px 0px 10px rgba(0, 0, 0, 0.141);