@import '/public/assets/scss/variables';

.profile-wrapper {
    box-shadow: $boxShadow;
    position: relative;
    max-height: calc(100vh - 100px);
    overflow: auto;
    border-radius: 0.25rem;

    &::-webkit-scrollbar{
        display: none;
    }

    .profile-bg {
        width: 100%;
        height: 150px;
        background-color: $blue;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 3.2rem;
            font-weight: 600;
            color: $whitesmoke;
            letter-spacing: 2px;
        }

        span {
            color: $whitesmoke;
        }
    }

    .profile {
        display: flex;
        align-items: center;
        position: relative;

        .profile-img {
            width: 150px;
            height: 100px;
            position: relative;

            img {
                border: 5px solid $white;
                border-radius: 50%;
                position: absolute;
                top: -70px;
                box-shadow: $boxShadow;
            }
        }

        .profile-detail {
            width: calc(100% - 150px);

            .social-profile {
                flex-direction: column;

                a {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $white;
                    border: 1px solid $blue;
                    border-radius: 50%;
                    text-decoration: none;

                    i {
                        color: $blue;
                    }

                    &:hover {
                        border-color: $blue-dark;

                        i {
                            color: $blue-dark;
                        }
                    }
                }
            }
        }
    }

    .other-profile-details {
        .p-card {
            padding: 0.2rem;
            display: flex;
            flex-direction: column;
            padding-left: 12px;

            span {
                font-size: 0.8rem;
                text-transform: uppercase;
                font-weight: 400;
                color: $grey;
            }

            p {
                color: $black;
                margin-bottom: 0;
                font-size: 0.9rem;
            }
        }
    }

    .profile-tabs-wrapper {
        
        .react-tabs {
            .react-tabs__tab-list {
                position: sticky !important;
        top: 0;
        background: $white;
        z-index: 12;
                display: flex !important;
                border-bottom: 1px solid $border-color !important;
                border-top: 1px solid $border-color !important;
                padding: 0px 1.5rem !important;

                .react-tabs__tab {
                    margin-bottom: 0rem !important;
                    border-radius: 0 !important;
                    padding: 0.7rem;
                    bottom: auto !important;
                    min-width: 7rem !important;
                    display: flex;
                    justify-content: center;
                    color: gray;
                    font-weight: 300;
                    &:hover{
                        color: $blue-dark;
                    }
                }

                .react-tabs__tab--selected {
                    background-color: $blue;
                    border: 0;
                    position: relative;
                    color: $white !important;
                    font-weight: 300 !important;
                }

            }

            .react-tabs__tab-panel {
                .tab-content-wrapper {
                    padding: 1.5rem !important;

                    .edit-mode-btn{
                        min-width: 90px !important;
                        width: 90px;
                    }
                }
            }
        }
    }
}