@import '/public/assets/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9aabb3;
  border-radius: 20px
}

::-webkit-scrollbar-thumb:hover {
  background: #9aabb3;
}
.ems-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;

  .ems-block-half{
    width: 49% !important;
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: $boxShadow;
    overflow: hidden;
  }

  .ems-block {
    width: 100% !important;
    background-color: $white;
    border-radius: 0.25rem;
    box-shadow: $boxShadow;
    overflow: hidden;
  }

  .ems-block-header{
    padding: 0.8rem;
    display: flex;
    border-bottom: 1px solid  $border-color;

    h1,h2,h3,h4,h5,h6{
      font-size: 1.1rem !important;
      font-weight: 500;
      letter-spacing: 1.1px;
      margin-bottom: 0;
    }

    .ems-block-header-btn{
      min-width: 50px !important;
      padding: 5px 20px !important;
    }
  }

  .ems-block-body{
    padding: 0.8rem;
    display: flex;
  }
}


input,
textarea,
select {
  padding: 0.5rem 1rem !important;
  border: 1.5px solid #dee2e6 !important;
  border-radius: 6px !important;
  outline: none !important;
  font-size: 0.8rem !important;

  &::placeholder {
    color: #9aabb3 !important;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

select {
  color: #9aabb3 !important;
  position: relative !important;
  padding-bottom: 8px !important;

  option {
    padding: 60px 100px !important;
    color: $black !important;
    border-radius: 6px !important;
    max-height: 400px !important;
    overflow: auto;

    &:hover {
      background-color: $blue !important;
    }
  }
}

input:focus,
select:focus,
textarea:focus {
  border: 1.5px solid $blue !important;
  box-shadow: none !important;
  outline: none !important;
}

.form-check-input:checked {
  background-color: $blue !important;
  border-color: $white !important;
}


.btn {
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  min-width: 100px !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;

  i{
    font-size: 0.9rem !important ;
    font-weight: 400 !important;
  }

  &.btn-primary {
    background-color: $blue !important;

    &:hover {
      background-color: $blue-dark !important;
    }
  }

  &.btn-outline-primary {
    color: $blue !important;
    background-color: transparent !important;
    border: 1px solid $blue !important;

    &:hover {
      color: $white !important;
      background-color: $blue-dark !important;
    }
  }

  &.btn-secondary {
    background-color: $lightskyblue !important;
    color: $blue-dark;

    &:hover {
      background-color: $blue-dark !important;
      color: $white !important;
    }
  }

}

.error-text {
  font-size: 0.8rem !important;
  font-weight: 300 !important;
  color: $danger !important;
}

.badge {
  min-width: 50px !important;
  font-weight: 500 !important;
  letter-spacing: 1.1px;
  color: $white;

  &.badge-primary {
    background-color: $blue !important;
  }

  &.badge-danger {
    background-color: $danger;
  }

  &.badge-success {
    background-color: $success;
  }

  &.badge-secondary {
    background-color: $lightskyblue;
    color: $blue-dark;
  }

}